*{
  margin:auto;
}
html, body{

background-color: Orange;
}
h5{
  font-weight: bolder;
  color: maroon;
  padding: 10px;
}
li{
  padding:-1px;
}
.me{
  margin-left: 80px;
}
h3{
  margin-left:70px;
  color: purple;
  font-weight: bold;
}
.myname{
  background-color: orange;
  float: left;
  text-align: center;
  border-radius: 25%;
  margin-top: 25px;
}
img{
  height: 200px;
  width:200px;
  border-radius: 10px;
  margin: 10px;
}
 .columns img{
  float: left;
}
.lond{
  float: left;
}
.header{
  margin-bottom: 10px;
}

@media (min-width: 750px) {
  html,body{
    background-color: grey;
  }

.church{
  float: left;
}
img{
  width: 200px;
  /* margin-right: 8px; */
}
.header{

  border-radius: 75px;
  margin-top: 20px
}
 .me{
   width: 220px;
   border-radius: 50%;
   float: right;
   margin-left: 40%;
   margin-right: 50%;
}
.myname{
  width: 100%;
  background-color: orange;
  /* float: left; */
  text-align: center;
  border-radius: 25%;
  margin-top: 25px;
}
h3{

  color:purple;
  margin-top: 25px;
  margin-left: 30px;
}
h5{
  color: maroon;
  font-weight: bolder;
}
.one{
  text-align: center;
}
}

/* Larger than d
